In [3]:
#기본적인 라이브러리와 데이터 불러오기

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

train_target = pd.read_csv("walk_data/training_label.csv")
test_target = pd.read_csv("walk_data/val_label.csv")
train_input = pd.read_csv("walk_data/train_activity.csv")
test_input = pd.read_csv("walk_data/val_activity.csv")

In [5]:
#EMAIL에 대한 라벨링을 EMAIL로 통일

In [6]:
train_target = train_target.rename(columns={'SAMPLE_EMAIL':'EMAIL'})
train_target

                EMAIL DIAG_NM
0    nia+315@rowan.kr      CN
1    nia+014@rowan.kr     MCI
2    nia+220@rowan.kr      CN
3    nia+096@rowan.kr     MCI
4    nia+396@rowan.kr      CN
..                ...     ...
136  nia+181@rowan.kr      CN
137  nia+354@rowan.kr      CN
138  nia+448@rowan.kr     MCI
139  nia+394@rowan.kr      CN
140  nia+067@rowan.kr     Dem

[141 rows x 2 columns]

In [7]:
#데이터를 쉽게 구분하기 위해 이메일에서 숫자만 제거

In [8]:
train_input['EMAIL'] = train_input['EMAIL'].str.replace('nia+','')
train_input['EMAIL'] = train_input['EMAIL'].str.replace('@rowan.kr','')
train_target['EMAIL'] = train_target['EMAIL'].str.replace('nia+','')
train_target['EMAIL'] = train_target['EMAIL'].str.replace('@rowan.kr','')

In [9]:
#정렬 및 병합을 위해 EMAIL을 object형에서 int형으로 변경

In [10]:
train_target = train_target.astype({'EMAIL':int})
train_input = train_input.astype({'EMAIL':int})
train_input.dtypes
train_target.dtypes

EMAIL       int32
DIAG_NM    object
dtype: object

In [11]:
#병합을 위해 정렬

In [12]:
train_input = train_input.sort_values('EMAIL')
train_target = train_target.sort_values('EMAIL')

In [13]:
#병합을 위해 DataFrame형식으로 변경

In [14]:
train_input = pd.DataFrame(train_input)
train_target = pd.DataFrame(train_target)

In [15]:
#각각의 병도에 매칭시켜 이메일을 병도로 변경

In [16]:
train_set = pd.merge_asof(train_input, train_target, on='EMAIL')
train_set

,EMAIL,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_day_end,activity_day_start,activity_high,activity_inactive,...,activity_score_move_every_hour,activity_score_recovery_time,activity_score_stay_active,activity_score_training_frequency,activity_score_training_volume,activity_steps,activity_total,CONVERT(activity_class_5min USING utf8),CONVERT(activity_met_1min USING utf8),DIAG_NM
0,3,1.46875,496,2549,...,9327,2020-12-26T03:59:59+09:00,2020-12-25T04:00:00+09:00,0,570,...,100,100,72,40,70,11721,247,1/1/1/1/1/1/1/1/1/2/1/1/1/1/1/1/1/1/1/1/1/1/2/...,1.1/1.4/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/1....,MCI
1,3,1.18750,117,2082,...,2010,2020-12-14T03:59:59+09:00,2020-12-13T04:00:00+09:00,0,551,...,100,100,77,40,46,2771,103,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,MCI
2,3,1.31250,239,2278,...,4268,2020-12-15T03:59:59+09:00,2020-12-14T04:00:00+09:00,2,665,...,78,100,61,40,45,5118,218,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.3/0.9/0.9/0.9/0.9/1.3/1/0.9/0.9/0.9/0.9/0.9/...,MCI
3,3,1.25000,163,2168,...,2757,2020-12-16T03:59:59+09:00,2020-12-15T04:00:00+09:00,1,671,...,95,100,60,1,44,3243,140,1/1/1/1/1/1/1/1/2/2/2/1/1/1/1/1/2/1/2/1/1/1/1/...,1.1/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0.9/1.3/1....,MCI
4,3,1.18750,111,2086,...,1749,2020-12-19T03:59:59+09:00,2020-12-18T04:00:00+09:00,0,549,...,95,100,75,1,38,2206,113,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0.9/0.9/0....,MCI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9700,475,1.34375,234,2321,...,4106,2021-01-12T03:59:59+09:00,2021-01-11T04:00:00+09:00,0,752,...,100,100,49,1,42,5344,255,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,CN
9701,475,1.43750,381,2471,...,7103,2021-01-11T03:59:59+09:00,2021-01-10T04:00:00+09:00,0,622,...,95,100,63,1,34,9137,338,2/2/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/2/2/1/2/2/...,1.2/1.2/1.2/1.2/1.2/1.2/1.2/1.2/1.2/1.1/0.9/0....,CN
9702,475,1.31250,192,2257,...,3151,2021-01-10T03:59:59+09:00,2021-01-09T04:00:00+09:00,0,559,...,95,100,72,1,19,4568,248,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.1/1.1/1.2/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0....,CN
9703,475,1.37500,309,2389,...,5328,2020-12-12T03:59:59+09:00,2020-12-11T04:00:00+09:00,0,636,...,100,60,68,96,97,7635,305,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/2/2/2/...,1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,CN
9704,475,1.37500,349,2413,...,6350,2020-12-15T03:59:59+09:00,2020-12-14T04:00:00+09:00,0,379,...,100,100,96,100,96,8375,339,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,CN

In [17]:
#이메일에서 병도로 바꾼 열을 target data로 분리

In [18]:
train_target = train_set['DIAG_NM']
train_target

0       MCI
1       MCI
2       MCI
3       MCI
4       MCI
       ...
9700     CN
9701     CN
9702     CN
9703     CN
9704     CN
Name: DIAG_NM, Length: 9705, dtype: object

In [19]:
#input data에 필요없는 'DIAG_NM' , 'EMAIL' 열을 삭제

In [20]:
train_input = train_set.drop(['DIAG_NM', 'EMAIL'], axis=1)
train_input

,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_day_end,activity_day_start,activity_high,activity_inactive,activity_inactivity_alerts,...,activity_score_meet_daily_targets,activity_score_move_every_hour,activity_score_recovery_time,activity_score_stay_active,activity_score_training_frequency,activity_score_training_volume,activity_steps,activity_total,CONVERT(activity_class_5min USING utf8),CONVERT(activity_met_1min USING utf8)
0,1.46875,496,2549,...,9327,2020-12-26T03:59:59+09:00,2020-12-25T04:00:00+09:00,0,570,0,...,25,100,100,72,40,70,11721,247,1/1/1/1/1/1/1/1/1/2/1/1/1/1/1/1/1/1/1/1/1/1/2/...,1.1/1.4/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/1....
1,1.18750,117,2082,...,2010,2020-12-14T03:59:59+09:00,2020-12-13T04:00:00+09:00,0,551,0,...,25,100,100,77,40,46,2771,103,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....
2,1.31250,239,2278,...,4268,2020-12-15T03:59:59+09:00,2020-12-14T04:00:00+09:00,2,665,2,...,25,78,100,61,40,45,5118,218,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.3/0.9/0.9/0.9/0.9/1.3/1/0.9/0.9/0.9/0.9/0.9/...
3,1.25000,163,2168,...,2757,2020-12-16T03:59:59+09:00,2020-12-15T04:00:00+09:00,1,671,1,...,1,95,100,60,1,44,3243,140,1/1/1/1/1/1/1/1/2/2/2/1/1/1/1/1/2/1/2/1/1/1/1/...,1.1/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0.9/1.3/1....
4,1.18750,111,2086,...,1749,2020-12-19T03:59:59+09:00,2020-12-18T04:00:00+09:00,0,549,1,...,1,95,100,75,1,38,2206,113,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0.9/0.9/0....
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9700,1.34375,234,2321,...,4106,2021-01-12T03:59:59+09:00,2021-01-11T04:00:00+09:00,0,752,0,...,25,100,100,49,1,42,5344,255,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....
9701,1.43750,381,2471,...,7103,2021-01-11T03:59:59+09:00,2021-01-10T04:00:00+09:00,0,622,1,...,43,95,100,63,1,34,9137,338,2/2/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/2/2/1/2/2/...,1.2/1.2/1.2/1.2/1.2/1.2/1.2/1.2/1.2/1.1/0.9/0....
9702,1.31250,192,2257,...,3151,2021-01-10T03:59:59+09:00,2021-01-09T04:00:00+09:00,0,559,1,...,25,95,100,72,1,19,4568,248,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.1/1.1/1.2/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0....
9703,1.37500,309,2389,...,5328,2020-12-12T03:59:59+09:00,2020-12-11T04:00:00+09:00,0,636,0,...,100,100,60,68,96,97,7635,305,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/2/2/2/...,1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....
9704,1.37500,349,2413,...,6350,2020-12-15T03:59:59+09:00,2020-12-14T04:00:00+09:00,0,379,0,...,100,100,100,96,100,96,8375,339,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....

In [21]:
#test data들도 train data와 같이 처리

In [22]:
test_target = test_target.rename(columns={'SAMPLE_EMAIL':'EMAIL'})
test_target
test_input['EMAIL'] = test_input['EMAIL'].str.replace('nia+','')
test_input['EMAIL'] = test_input['EMAIL'].str.replace('@rowan.kr','')
test_target['EMAIL'] = test_target['EMAIL'].str.replace('nia+','')
test_target['EMAIL'] = test_target['EMAIL'].str.replace('@rowan.kr','')
test_target = test_target.astype({'EMAIL':int})
test_input = test_input.astype({'EMAIL':int})
test_input.dtypes
test_target.dtypes
test_input = test_input.sort_values('EMAIL')
test_target = test_target.sort_values('EMAIL')
test_input = pd.DataFrame(test_input)
test_target = pd.DataFrame(test_target)
test_set = pd.merge_asof(test_input, test_target, on='EMAIL')
test_set
test_target = test_set['DIAG_NM']
test_target
test_input = test_set.drop(['DIAG_NM', 'EMAIL'], axis=1)
test_input

,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_day_end,activity_day_start,activity_high,activity_inactive,activity_inactivity_alerts,...,activity_score_meet_daily_targets,activity_score_move_every_hour,activity_score_recovery_time,activity_score_stay_active,activity_score_training_frequency,activity_score_training_volume,activity_steps,activity_total,CONVERT(activity_class_5min USING utf8),CONVERT(activity_met_1min USING utf8)
0,1.71875,883,3007,...,16350,2020-12-03T03:59:59+09:00,2020-12-02T04:00:00+09:00,1,349,1,...,100,95,95,97,100,100,19245,522,1/1/1/1/1/1/1/1/1/2/1/1/1/1/2/1/1/1/1/1/1/1/1/...,0.9/1.2/0.9/0.9/0.9/0.9/0.9/1.3/0.9/0.9/0.9/0....
1,1.50000,481,2595,...,8575,2021-02-03T03:59:59+09:00,2021-02-02T04:00:00+09:00,1,635,1,...,78,95,100,65,100,96,10946,363,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....
2,1.18750,101,2069,...,1472,2020-12-28T03:59:59+09:00,2020-12-27T04:00:00+09:00,0,440,2,...,60,78,100,83,96,90,2309,147,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....
3,1.43750,448,2487,...,8079,2020-12-27T03:59:59+09:00,2020-12-26T04:00:00+09:00,0,541,2,...,78,78,100,76,100,96,10268,294,2/1/1/2/2/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.1/1/0.9/1.3/1/1.3/0.9/0.9/0.9/0.9/0.9/0.9/0....
4,1.25000,156,2183,...,2376,2020-12-26T03:59:59+09:00,2020-12-25T04:00:00+09:00,0,651,4,...,78,43,100,63,100,96,3669,229,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.2/1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2473,1.28125,161,2211,...,2699,2021-01-27T03:59:59+09:00,2021-01-26T04:00:00+09:00,0,712,1,...,95,95,98,54,100,99,3108,166,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/1.3/0.9/1/0.9/0.9/1.2/0.9/...
2474,1.53125,606,2692,...,11541,2021-01-28T03:59:59+09:00,2021-01-27T04:00:00+09:00,2,578,1,...,95,95,100,72,100,99,13932,324,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....
2475,1.65625,724,2868,...,12861,2021-01-29T03:59:59+09:00,2021-01-28T04:00:00+09:00,21,510,0,...,95,100,100,81,100,100,12148,459,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/1.1/0.9/0.9/0.9/0.9/0.9/0....
2476,1.78125,968,3112,...,18080,2021-01-31T03:59:59+09:00,2021-01-30T04:00:00+09:00,21,471,0,...,100,100,86,84,100,100,19361,459,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/1.1/0.9/0.9/0.9/0.9/0.9/1.1/1.1/0.9/1/0.9/...
2477,1.31250,244,2305,...,4555,2020-12-28T03:59:59+09:00,2020-12-27T04:00:00+09:00,0,600,1,...,60,95,100,72,96,98,5033,257,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....

In [23]:
#현재는 처리방법을 찾지 못한 object 변수들을 제거 -> 후에 처리방법을 알아봐도 좋을듯함

In [24]:
test_input = test_input.drop(['activity_class_5min', 'activity_day_start', 'activity_day_end', 'activity_met_1min','CONVERT(activity_class_5min USING utf8)','CONVERT(activity_met_1min USING utf8)'], axis=1)
test_input.dtypes

activity_average_met                 float64
activity_cal_active                    int64
activity_cal_total                     int64
activity_daily_movement                int64
activity_high                          int64
activity_inactive                      int64
activity_inactivity_alerts             int64
activity_low                           int64
activity_medium                        int64
activity_met_min_high                  int64
activity_met_min_inactive              int64
activity_met_min_low                   int64
activity_met_min_medium                int64
activity_non_wear                      int64
activity_rest                          int64
activity_score                         int64
activity_score_meet_daily_targets      int64
activity_score_move_every_hour         int64
activity_score_recovery_time           int64
activity_score_stay_active             int64
activity_score_training_frequency      int64
activity_score_training_volume         int64
activity_steps                         int64
activity_total                         int64
dtype: object

In [25]:
test_target.dtypes

dtype('O')

In [26]:
train_target.dtypes

dtype('O')

In [27]:
train_input = train_input.drop(['activity_class_5min', 'activity_day_start', 
'activity_day_end', 'activity_met_1min','CONVERT(activity_class_5min USING utf8)','CONVERT(activity_met_1min USING utf8)'], axis=1)
train_input.dtypes

activity_average_met                 float64
activity_cal_active                    int64
activity_cal_total                     int64
activity_daily_movement                int64
activity_high                          int64
activity_inactive                      int64
activity_inactivity_alerts             int64
activity_low                           int64
activity_medium                        int64
activity_met_min_high                  int64
activity_met_min_inactive              int64
activity_met_min_low                   int64
activity_met_min_medium                int64
activity_non_wear                      int64
activity_rest                          int64
activity_score                         int64
activity_score_meet_daily_targets      int64
activity_score_move_every_hour         int64
activity_score_recovery_time           int64
activity_score_stay_active             int64
activity_score_training_frequency      int64
activity_score_training_volume         int64
activity_steps                         int64
activity_total                         int64
dtype: object

In [28]:
#로지스틱 회귀 모델 적용 (60,70% 정확도로 전체적인 과소적합, 제대로 된 모델을 찾아야함)

In [29]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr = LogisticRegression(C=20, max_iter=1000)
lr.fit(train_input, train_target)

print(lr.score(train_input, train_target))
print(lr.score(test_input, test_target))

0.603812467800103
0.7643260694108152

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
#경사하강법분류모델도 정확도가 아직 높지않음

In [31]:
from sklearn.linear_model import SGDClassifier

In [32]:
sc = SGDClassifier(loss='log_loss', max_iter=100, random_state=42)
sc.fit(train_input, train_target)

print(sc.score(train_input, train_target))
print(sc.score(test_input, test_target))

0.5947449768160742
0.6537530266343826

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_stochastic_gradient.py:723: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(